@keyframes showHint {
    0% {
        opacity: 0;
        transform: translateY(5px);
    }

    100% {
        opacity: 1;
    }
}

@keyframes smoothRender {
    0% {
        opacity: 0;
        border-color: #00000000;
        //transform: translateY(-5px);
    }

    100% {
        opacity: 1;
    }
}
